<br>
<div class="inline-block navbar"> 
    <div ><a href="/login"><button class="navbarItem">Login</button></a></div>
    <div class="logo-image logo navbarItem"></div>
    <div> <a href="/register"><button class="navbarItem">Register</button></a></div>
</div>

<div class="responsive-container">
    <div id="firstSection" class="content">
        <div class="item">
            <h2 class="epicTitle">Welcome to MQL!</h2>
            <p>Our web app uses aspects of <b>Gamification</b> and targeted psychological feedback to strengthen your mental health and motivation.</p>
        </div>

        <div class="item">
            <p>Through gamification, everyday tasks are transformed into exciting quests that increase your motivation with <b>playful elements and rewards</b>.</p>
            <p><b>Psychological feedback</b> promotes mindfulness and self-efficacy, supports positive behavioral changes, and strengthens your mental resilience.</p>
        </div>
    </div> 

    <br> 
    <div class="content">
        <div class="inline-block navbar"> 
            <div class="class-image warrior"></div>
            <div class="class-image mage"></div>
            <div class="class-image rogue"></div>
            <div class="class-image healer"></div>
        </div>
    </div>

    <br>
    <div class="content">
        <div class="item">
            <p>Create your character and receive <b>tailored quests</b> that are matched to your assigned class. MQL offers you an intuitive user interface with <b>RPG elements</b> and tasks to increase your motivation and mindfulness. Open chests to reward yourself after completing your productive quests!</p>
        </div>
    </div> 

    <br>

    <div class="content">
        <div class="item">
            <p>Earn experience points, open your <b>reward chests</b>, and collect over <b>100+ different items</b>.</p>
        </div>

        <div class="item">
            <p>Discover a new way to achieve your goals and simultaneously promote your mental health - with <b>Mind Quest Leveling</b>.</p>
        </div>
    </div>
</div>
