<h3 class="subHeader">Inventory ({{getCountedAmount()}}/100)</h3>


<div class="responsive-container">
  <p class="subHeader">Sort Items</p>
  <div class="content">
    <div class="item">
      <button (click)="sortItemsByRarity()">Sort by Rarity</button>
    </div>

    <div class="item">
      <button (click)="sortItemsByQuantity()">Sort by Quantity</button>
    </div>

    <div class="item">
      <button (click)="randomizeItems()">Randomize Items</button>
    </div>
  </div>

  <br>
  <div class="content">
    <div *ngIf="isDataLoaded">
      <div class="inventory-container">
        <div class="inventory-item interactable rarityBorder rarity{{invItem.rarity}}" *ngFor="let invItem of inventory" (click)="onItemClicked(invItem)">

          <div class="item">

            <div class="item-image {{getItemDetails(invItem.itemId)?.name}}"></div>

            <div class="item-details">
              <h3>{{ getItemDetails(invItem.itemId)?.name }} ({{ invItem.quantity }})</h3>
              <p>rarity level: {{invItem.rarity}}</p>
              <p><em>"{{ getItemDetails(invItem.itemId)?.description }}"</em></p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="item" *ngIf="!isDataLoaded">
      Loading inventory...
    </div>
  </div>
</div>
