<h3 class="subHeader">Quests</h3>
<div class="responsive-container">
    <p class="subHeader">Demo Quests (just for Testing)</p>
    <div class="content">
        <div *ngFor="let quest of displayedTestQuests" class="item interactable" (click)="activateQuest(quest.id)">
            <h4>{{ quest.name }}</h4>
            <p>{{ quest.description }}</p>
            <p>XP: {{ quest.xp }}</p>
            <p>Time: {{ quest.time }}h</p>
        </div>
    </div>

    <p class="subHeader">General Quests</p>
    <div class="content">
        <div *ngFor="let quest of displayedGeneralQuests" class="item interactable" (click)="activateQuest(quest.id)">
            <h4>{{ quest.name }}</h4>
            <p>{{ quest.description }}</p>
            <p>XP: {{ quest.xp }}</p>
            <p>Time: {{ quest.time }}h</p>
        </div>
    </div>

    <br>

    <p class="subHeader">Class Specific Quests</p>
    <div class="content">
        <div *ngFor="let quest of displayedClassQuests" class="item interactable" (click)="activateQuest(quest.id)">
            <h4>{{ quest.name }}</h4>
            <p>{{ quest.description }}</p>
            <p>XP: {{ quest.xp }}</p>
            <p>Time: {{ quest.time }}h</p>
        </div>
    </div>
</div>
