<h3 class="subHeader">Character Creation</h3>
<div class="responsive-container">
  <div class="item" *ngIf="!assignedClass; else congratsTemplate">
    <p>{{ questions[currentQuestionIndex].text }}</p>
    <div class="background">
      <div *ngFor="let option of questions[currentQuestionIndex].options">
        <button (click)="onAnswer(option)">{{ option.text }}</button>
      </div>
    </div>
  </div>

  <ng-template #congratsTemplate>
    <div class="content congrats">
      <h3 class="subHeader congratsText">Congratulations</h3>
      <p>You are now a {{ assignedClass }}.</p>
      <div class="displayFront">
        <img class="class-image {{ assignedClass }}" alt="{{ assignedClass }} image">
        <br>
        <a href="/dashboard">
          <div><button>Go to Dashboard</button></div>
        </a>
      </div>
    </div>
  </ng-template>
</div>