<div class="responsive-container">
  <div class="item" *ngIf="!assignedClass; else congratsTemplate">
    <h2>Character Creation</h2>
    <p>{{ questions[currentQuestionIndex].text }}</p>
    <div class="background">
      <div *ngFor="let option of questions[currentQuestionIndex].options">
        <button (click)="onAnswer(option)">{{ option.text }}</button>
      </div>
    </div>
  </div>
  
  <div class="item">
    <ng-template #congratsTemplate>
      <div class="item" class="congratulation-container">
        <h2>Congratulations!</h2>
        <p>You are now a {{ assignedClass }}.</p>
        <img [src]="getCharacterImage()" alt="{{ assignedClass }} image">
      </div>
    </ng-template>
  </div>
</div>


