<h3 class="subHeader">Profile</h3>
<div class="responsive-container">
    <div class="content">
        <div class="item">
            <h2>Profile Component</h2>
            <p>Here you can see your Basic information, but also have the ability to change your class.</p>
            
            <p>We are all free to take changes!</p>
        </div>

        <!-- ng if character undentified then display loading-->
        <div class="item">
            <h2>Change Class</h2>
            <!-- List select or -->
            <select #selectedClass (change)="changedClass(selectedClass.value)" title="Choose your class">
                <option value="warrior">Warrior</option>
                <option value="mage">Mage</option>
                <option value="healer">Healer</option>
                <option value="rogue">Rogue</option>
            </select>
            <button (click)="changeClass(selectedClass.value)">Accept</button>
        </div>
    </div> 

    <br>

    <div *ngIf="character" class="content">
        <div class="item">
            <h1>{{character.class}}</h1>
            <div class="class-image {{character.class}}"></div>
            <br>
        </div>
    </div>

    <br>

    <div class="content">
        <div class="item">
            <h2>Select Your Personality Type</h2>
            <select id="personality-type" name="personality-type">
            <option value="ISTJ">ISTJ - Introverted, Sensing, Thinking, Judging</option>
            <option value="ISFJ">ISFJ - Introverted, Sensing, Feeling, Judging</option>
            <option value="INFJ">INFJ - Introverted, Intuitive, Feeling, Judging</option>
            <option value="INTJ">INTJ - Introverted, Intuitive, Thinking, Judging</option>
            <option value="ISTP">ISTP - Introverted, Sensing, Thinking, Perceiving</option>
            <option value="ISFP">ISFP - Introverted, Sensing, Feeling, Perceiving</option>
            <option value="INFP">INFP - Introverted, Intuitive, Feeling, Perceiving</option>
            <option value="INTP">INTP - Introverted, Intuitive, Thinking, Perceiving</option>
            <option value="ESTP">ESTP - Extraverted, Sensing, Thinking, Perceiving</option>
            <option value="ESFP">ESFP - Extraverted, Sensing, Feeling, Perceiving</option>
            <option value="ENFP">ENFP - Extraverted, Intuitive, Feeling, Perceiving</option>
            <option value="ENTP">ENTP - Extraverted, Intuitive, Thinking, Perceiving</option>
            <option value="ESTJ">ESTJ - Extraverted, Sensing, Thinking, Judging</option>
            <option value="ESFJ">ESFJ - Extraverted, Sensing, Feeling, Judging</option>
            <option value="ENFJ">ENFJ - Extraverted, Intuitive, Feeling, Judging</option>
            <option value="ENTJ">ENTJ - Extraverted, Intuitive, Thinking, Judging</option>
            </select>
            <a class="personalityLink" href="https://www.16personalities.com/free-personality-test" target="_blank" rel="noopener noreferrer">Find Out Your Personality Type!</a>
            <button>Accept</button>
        </div>
    </div>


    <br>

    <div class="content">
        <div class="item">
            <h2>With great power comes great responsiblity.</h2>

            <p>But mark thee well, ye tender apprentices of arcane might, for in thy fledgling hands rests the potential to weave the very fabric of existence. Yet, heed my counsel, for power bestowed upon the indolent and unworthy shall ne'er be naught but a fleeting wisp, lost to the winds of time.</p>

            <p>Lo, 'tis not the mere possession of power that doth elevate thee above the common rabble, but the relentless pursuit of mastery over thine own destiny. Thus, I charge thee: embrace the toil and the struggle, for within these crucibles are the seeds of thy greatness sown.</p>
    
            <p>Know this, O seekers of wisdom: the road before thee is fraught with perils untold and trials unnumbered. Each quest thou embark upon is a crucible, designed to temper thy spirit and hone thy resolve. Through the completion of these sacred quests, thou shalt accrue not only power but the sagacity to wield it justly.</p>
    
            <p>Let it be known that the pursuit of thine dreams is a path paved with ceaseless endeavor. Rest not on laurels of yesteryear, for the relentless tide of ambition demands ever more of thee. In thine efforts, be thou steadfast as the mountain, unyielding as the oak, and as vigilant as the hawk.</p>
    
            <p>Remember, O ye who wouldst ascend to the heights of arcane supremacy: power without wisdom is naught but a beacon to ruin. Thus, let thy heart be pure, thy will indomitable, and thy mind ever sharpened against the grindstone of knowledge. Through perseverance and unwavering dedication to thy quests, thou shalt carve thy name into the annals of legend, and thy power shall be as boundless as the very stars that adorn the night sky.</p>
    
            <p>Go forth, young adepts, with valor and vigor. May thy journey be illuminated by the light of thy aspirations, and may the arcane forces that bind this realm heed thy call. For in thee lies the future of our order, and upon thy shoulders rests the mantle of destiny. Fulfill thy quests with fervor, and claim the power that rightfully belongs to those who dare to dream and strive unceasingly in their pursuit.</p>    
        </div>
    </div>
</div>
