<h3 class="subHeader">Dashboard</h3>


<div class="responsive-container">
    <div class="content">
        <div class="item">
            <h2>Hello Champion!</h2>
            <p>Welcome to the dashboard. Here you can see your character's information cards.</p>
            
            <p>Those that are interactable, will have a hover effect.</p>
        </div>

        <a href="/profile">
            <div class="item interactable">
                <h2 class="epicTitle">Character Profile</h2>
                <div class="class-image {{character.class}}"></div>
                <div><p id="class">{{ character.class }}</p></div>
                <div id="xpContainer">
                    <div class="xp-bar" [style.width.%]="xpPercentage"></div>
                    <p>Level: {{ character.level }}</p>
                </div>
            </div>
        </a>
    </div>

    <br>

    <div class="content">
        <div class="item">
            <h3>Current Quest: {{ currentQuest.name }}</h3>
            <p>{{ currentQuest.description }}</p>
            
            <p>Time left: {{ currentQuest.timeLeft }} Min</p>

            <div id="xpContainer">
                <div class="xp-bar" [style.width.%]="currentQuest.progress"></div>
            </div>

        </div>
    </div>

    <br>

    <div class="content">
        <a href="/quests">
            <div class="item interactable">
                <button>
                    View Quest List
                </button>
            </div>
        </a>

        <!-- DEVTOOL -->
        <div class="item interactable">
            <h2 class="epicTitle">Request Random Items!</h2>
            <button (click)="requestRandomItems()">Press Me!</button>
        </div>
        
        <!-- DEVTOOL -->
        <a href="/lootbox">
            <div class="item interactable">
                <h2 class="epicTitle">Lootbox Testing</h2>
            </div>
        </a>
    </div>
</div>
