<h3 class="subHeader">Dashboard</h3>


<div class="responsive-container">
    <div class="content">
        <div class="item">
            <h2>Hello Champion!</h2>
            <p>Welcome to the dashboard. Here you can see your character's information cards.</p>

            <p>Those that are interactable, will have a hover effect.</p>
        </div>

        <a href="/profile">
            <div class="item interactable">
                <h2 class="epicTitle">Character Profile</h2>
                <div class="class-image {{character.class}}"></div>
                <div>
                    <p id="class">{{ character.class }}</p>
                </div>
                <p>Level: {{ character.level }}</p>
                <div id="xpContainer">
                    <div class="xp-bar" [style.width.%]="xpPercentage"></div>
                </div>
            </div>
        </a>

        <a href="/inventory">
            <div class="item interactable">
                <h2 class="epicTitle">
                    Inventory
                </h2>
                <img class="chest-img" src="assets/img/icons/dashboardBag.png" alt="Chest">
            </div>
        </a>

        <a href="/lootbox">
            <div class="item interactable">
                <h2 class="epicTitle">
                    Adventure Chest
                </h2>
                <img class="chest-img scale-img" src="assets/img/chest.png" alt="Chest">
            </div>
        </a>

        <a href="/tasks">
            <div class="item interactable">
                <h2 class="epicTitle">
                    Tasks List
                </h2>
                <img class="chest-img" src="assets/img/tasklist.png" alt="Chest">
            </div>
        </a>
    </div>

    <br>



    <div #questComponent class="content quest-container">   
        <a href="/quests">
            <div class="item">
                <button class="interactable">
                    View Quest List
                </button>
            </div>
        </a>
        
        <div class="item">
            <div *ngIf="(currentQuest.timeLeft > 0) ;else noQuestNotify">
            <h3>Current Quest: {{ currentQuest.name }}</h3>
            <p>{{ currentQuest.description }}</p>
            <p>Time left: {{ timeLeft }} Min</p>

            <div id="xpContainer">
                <div class="xp-bar" [ngStyle]="{'width.%': currentQuest.progress}"></div>
              </div>
            </div>
            
            <div class="cancelQuest" *ngIf="(currentQuest.timeLeft > 0)"> 
                <button (click)="cancelQuest()">Cancel Quest</button>
            </div>

            <ng-template #noQuestNotify>
                <p>No active Quest</p>
            </ng-template>
        </div>



        <div *ngIf="lootboxes > 0" class="item">
            <div>
                <p>You have some <b>Adventure Chests</b> to Open!</p>
                <h2 class="epicTitle" style="margin-top: 0;">{{lootboxes}}</h2>
                    <button (click)="redirectToLootbox()">Open Chest</button>
                </div>
        </div>

        <br>
    </div>

    <div>

    </div>
</div>