@import 'ngx-toastr/toastr';

@font-face {
    font-family: 'VeniceClassic';
    src: url('/assets/fonts/VeniceClassic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


:root {
    --primary-color: #0000;
    --secondary-bg-color: #77706f;
}

body {
    background: #77706f;
    font-family: 'VeniceClassic', sans-serif;
    font-size: calc(calc(1.4vh + 0.2vw)*1.2);
    letter-spacing: 2px;
    overflow: hidden;
    position: relative;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70%;
    background: linear-gradient(180deg, rgba(245, 233, 178, 0.9), rgba(215, 54, 92, 0.5), rgba(22, 15, 87, 0.9));
    background-position: 0% 100%;
    background-size: 800% 800%;
    animation-name: dayNight;
    animation-duration: 120s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
    pointer-events: none;
    z-index: -1;
}


.mountainOverlay {
    animation: fadeInUp 0.5s ease forwards;
    background-image: url('./assets/img/bgMountains.png');
    background-size: contain; /* Scale the width to 120% and height to 100% */
    background-repeat: repeat-x;
    background-position: center; /* Center the background image */
    position: absolute;
    top: 0;
    left: -5%;
    width: 110%;
    height: 110%;
    pointer-events: none; /* Make the element non-interactive */
}



@media screen and (max-aspect-ratio: 1/1) {
    .mountainOverlay {
        background-position: center; /* Center the background on longer screens */
        background-size: cover; /* Cover the entire viewport */
        transform: none; /* Reset transform */
    }
}

@keyframes dayNight {
    from {
        background-position: 0% 100%;
    }
    to {
        background-position: 100% 0%;
    }
}

h1 {
    font-size: 3em;
}

h2 {

    font-size: 2.5em;
}


.responsive-container {
    width: 100%;
    padding: 16px;
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 100vh;
    overflow: auto;
    max-height: 100vh;
    min-height: 60vh;
    padding-bottom: 13vh;
}


.responsive-container::-webkit-scrollbar {
    display: none !important;
}
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .responsive-container {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Flexbox for layout */
.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
}



/* Styles for child elements */
.item {
    flex: 1 1 calc(33.333% - 32px); /* Three items per row with some spacing */
    box-sizing: border-box;
    padding: 10px 5px;
    margin: 10px 5px;


    /* Animation */
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 0.5s ease forwards;

    
}

/* Media queries for responsiveness */

/* tablet */
@media (max-width: 768px) {
    .responsive-container .item {
        flex: 1 1 calc(50% - 32px); /* Two items per row */
    }
}

/* mobile */
@media (max-width: 480px) {
    .responsive-container .item {
        flex: 1 1 100%; /* One item per row */
    }


    .item {
        display: block;
        font-size: 1.0rem;
    }
}

/* Keyframes for the fade-in-up animation */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}



/* input field */

input[type="text"],
input[type="email"],
input[type="password"] {
    border: 0;
    border-bottom: 2px solid #888;
    background: transparent;

    font-family: 'VeniceClassic', sans-serif;
    font-size: 1.6rem;
    letter-spacing: 2px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
    border-bottom: 2px solid #888;
    outline: none; /* Optional: to remove the default focus outline */
}

/* Pixel Art Button Styling */
button {
    display: inline-block;
    padding: 5px 10px;
    border: 2px solid #000;
    background-color: #ccc;
    color: #000;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s, color 0.3s;
    border-radius: 10px;
    font-family: 'VeniceClassic', sans-serif;

    font-size: 2rem;
  }
  
  button:hover {
    background-color: #ddd; /* Adjust hover color */
  }
  
  button:active {
    background-color: #bbb; /* Adjust active color */
    border-color: #777; /* Adjust active border color */
  }

#footer-character {
    background-image: url('./assets/img/icons/character.png');
    background-size: cover;
    background-repeat: no-repeat;   
}

#footer-dashboard {
    background-image: url('./assets/img/icons/dashboard.png');
    background-size: cover;
    background-repeat: no-repeat;   
}

#footer-inventory {
    background-image: url('./assets/img/icons/inventory.png');
    background-size: cover;
    background-repeat: no-repeat;   
}




.mqlHeader {
    text-align: center;
    font-size: 350%;
    padding-bottom: 0;
    margin-bottom: 0;
    
    background: -webkit-linear-gradient(#ffef85,#ffe11b, #131313);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.subHeader {
    text-align: center;
    font-size: 200%;
    padding: 0;
    margin: 0;
    margin-bottom: 2%;
    color: aqua;
    text-shadow: -3px -3px 0 #000, 3px -3px 0 #000, -3px 3px 0 #000, 3px 3px 0 #000;
    letter-spacing: 0.2vw;

}