@import 'ngx-toastr/toastr';

@font-face {
    font-family: 'VeniceClassic';
    src: url('/assets/fonts/VeniceClassic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


:root {
    --primary-color: #0000;
    --secondary-bg-color: #77706f;
}

body {
    background: #77706f;
    font-family: 'VeniceClassic', sans-serif;
    font-size: 25px;
    letter-spacing: 2px;
    overflow: hidden;
    position: relative;
    margin: 0;
}



body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70%;
    background: linear-gradient(180deg, rgba(245, 233, 178, 0.9), rgba(215, 54, 92, 0.5), rgba(22, 15, 87, 0.9));
    background-position: 0% 100%;
    background-size: 100% 800%;
    animation-name: dayNight;
    animation-duration: 120s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
    pointer-events: none;
    z-index: -1;
}





.mountainOverlay {
    animation: fadeInUp 0.5s ease forwards, slideLeft 60s linear infinite;
    background-image: url('./assets/img/bgMountains.png');
    background-size: contain;
    background-position: center;
    background-repeat: repeat-x;
    position: fixed;
    top: 0;
    left: 0;
    width: 200%; /* Double the width to have two instances of the background image */
    height: 100%;
    pointer-events: none;
    overflow: hidden; /* Hide the overflow to ensure only one instance is visible at a time */
}

@keyframes slideLeft {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-46.5%); /* Move left by 50% of the element's width */
    }
}

@keyframes slideLeft2 {
    0% {
        transform: translateX(-49.5%);
    }
    100% {
        transform: translateX(0%); /* Move left by 50% of the element's width */
    }
}

.cloudsOverlay {
    animation: fadeInUp 0.5s ease forwards, slideLeft2 160s linear infinite;
    background-image: url('./assets/img/seamlessClouds.png');
    background-size: auto;
    background-position: top center; /* Position the background at the top center */
    background-repeat: repeat-x;
    position: fixed;
    top: 0;
    left: 0;
    width: 200%; /* Double the width to have two instances of the background image */
    height: 200%;
    pointer-events: none;
    overflow: hidden; /* Hide the overflow to ensure only one instance is visible at a time */
    filter: opacity(0.5);
    z-index: -1;
}



@media screen and (max-aspect-ratio: 1/1) {
    .mountainOverlay {
        background-position: center; /* Center the background on longer screens */
        background-size: cover; /* Cover the entire viewport */
        transform: none; /* Reset transform */
    }
}

@keyframes dayNight {
    from {
        background-position: 0% 100%;
    }
    to {
        background-position: 100% 0%;
    }
}

h1 {
    font-size: 3em;
}

h2 {

    font-size: 2.5em;
}


.responsive-container {
    width: 100%;
    padding: 16px;
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 80vw;
    overflow: auto;
    max-height: 100vh;
    min-height: 60vh;
    padding: 0;
    padding-bottom: 30vh;
    border-radius: 15px;

}


.responsive-container::-webkit-scrollbar {
    display: none !important;
}
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .responsive-container {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Flexbox for layout */
.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
}



/* Styles for child elements */
.item {
    flex: 1 1 calc(30% - 32px); /* Three items per row with some spacing */
    padding: 10px 5px;
    margin: 10px 5px;

    /* Animation */
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 0.5s ease forwards;  
}

/* one item per row media query if mobile */
@media screen and (max-width: 900px) {

    h2,
    h1,
    h3,
    .epicTitle{
        font-size: calc(32px + (28 - 32) * ((100vw - 400px) / (1600 - 400)));
    }

    .item {
        flex: 1 1 100%; /* One item per row */
    }

    .content {
        flex-direction: column;
        padding: 10px !important;
    }

    .responsive-container {
        max-width: 100vw;
    }

    body {
        font-size: 20px;
    }

}



/* Keyframes for the fade-in-up animation */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}



/* input field */

input[type="text"],
input[type="email"],
input[type="password"] {
    border: 0;
    border-bottom: 2px solid #888;
    background: transparent;

    font-family: 'VeniceClassic', sans-serif;
    font-size: 1.6rem;
    letter-spacing: 2px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
    border-bottom: 2px solid #888;
    outline: none; /* Optional: to remove the default focus outline */
}

.inline-block {
    display: flex;
    flex-wrap: wrap; /* This allows the items to wrap to the next line if necessary */
    width: 100%;
}

.inline-block div {
    flex: 1 1 auto; /* This makes each item flexible and allows it to grow/shrink */
    min-width: 100px; /* Set a minimum width for each item */
    margin: 5px; /* Add some margin for spacing between items */
    box-sizing: border-box; /* Ensure padding and border are included in the element's total width and height */
    margin: auto;
    max-width: fit-content;
}

.epicTitle {
    color: rgb(243, 57, 57);
    /* outline black on text with shadow*/
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
    animation: colorChange 25s infinite;
    margin-bottom: 5px;
    padding-bottom: 15px;
    font-size: 220%;
}

@keyframes colorChange {
    0% {
      color: rgb(191, 221, 249);
    }
    25% {
      color: rgb(191, 249, 191);
    }
    50% {
      color: rgb(249, 191, 230);
    }
    75% {
      color: rgb(245, 249, 191);
    }
    100% {
      color: rgb(217, 191, 249);
    }
  }

/* Pixel Art Button Styling */
button {
    display: inline-block;
    padding: 5px 10px;
    border: 2px solid #000;
    background-color: #ccc;
    color: #000;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s;
    border-radius: 10px;
    font-family: 'VeniceClassic', sans-serif;

    background: linear-gradient(45deg, #ffcccc, #ffccff, #ccccff, #ccffff, #ccffcc, #ffffcc, #ffcc99, #ffcccc);
    background-size: 200% 200%;
    animation: rainbow 5s linear infinite;

    font-size: 2rem;
    

  }

  @keyframes rainbow {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
  
  button:hover {
    scale: 1.1;
    background-color: #ddd; /* Adjust hover color */
  }
  
  button:active {
    background-color: #bbb; /* Adjust active color */
    border-color: #777; /* Adjust active border color */
  }

#footer-character {
    background-image: url('./assets/img/icons/character.png');
    background-size: cover;
    background-repeat: no-repeat;   
}

#footer-dashboard {
    background-image: url('./assets/img/icons/dashboard.png');
    background-size: cover;
    background-repeat: no-repeat;   
}

#footer-inventory {
    background-image: url('./assets/img/icons/inventory.png');
    background-size: cover;
    background-repeat: no-repeat;   
}


a {
    /* Disable underline */
    text-decoration: none;
}

.underline {
    text-decoration: underline;
}



.mqlHeader {
    text-align: center;
    font-size: 200%;
    padding-bottom: 0;
    margin-bottom: 0;
    
    background: -webkit-linear-gradient(#ffef85,#ffe11b, #131313);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.subHeader {
    text-align: center;
    font-size: 200%;
    padding: 0;
    margin: 0;
    margin-bottom: 2%;
    color: aqua;
    text-shadow: -3px -3px 0 #000, 3px -3px 0 #000, -3px 3px 0 #000, 3px 3px 0 #000;
    letter-spacing: 0.2vw;

}

.full-width {
    min-width: 80%;
  }


/* CLASSES */

@keyframes shadowColorChange {
    0% {
        filter: drop-shadow(5px 5px 5px red) drop-shadow(-5px -5px 5px yellow);
    }
    25% {
        filter: drop-shadow(5px 5px 5px yellow) drop-shadow(-5px -5px 5px green);
    }
    50% {
        filter: drop-shadow(5px 5px 5px green) drop-shadow(-5px -5px 5px blue);
    }
    75% {
        filter: drop-shadow(5px 5px 5px blue) drop-shadow(-5px -5px 5px red);
    }
    100% {
        filter: drop-shadow(5px 5px 5px red) drop-shadow(-5px -5px 5px yellow);
    }
}

.class-image {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 248px;
    height: 248px;
    margin: auto;
    animation: shadowColorChange 5s infinite;
}

.navbarItem {
    min-width: 20vw;
    display: block;
    margin: auto;
}


.mage {
    background-image: url('./assets/img/avatars/Mage.png');
}

.warrior {
    background-image: url('./assets/img/avatars/Warrior.png');
}

.rogue {
    background-image: url('./assets/img/avatars/Rogue.png');
}

.berserk {
    background-image: url('./assets/img/avatars/Berserk.png');
}

.healer {
    background-image: url('./assets/img/avatars/Healer.png');
}

.logo {
    background-image: url('./assets/img/icons/logo.png');
}


/* ITEMS */

.item-image {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 64px;
    height: 64px;
    margin: auto;
}

.Book {
    background-image: url('./assets/img/items/Book.png');
}

.Jelly {
    background-image: url('./assets/img/items/Jelly.png');
}

.Chicken {
    background-image: url('./assets/img/items/Chicken.png');
}

.Burger {
    background-image: url('./assets/img/items/Burger.png');
}

.Pancakes {
    background-image: url('./assets/img/items/Pancakes.png');
}

.Gummybear {
    background-image: url('./assets/img/items/Gummybear.png');
}

.Sword {
    background-image: url('./assets/img/items/Sword.png');
}

.Bow {
    background-image: url('./assets/img/items/Bow.png');
}

.Wood {
    background-image: url('./assets/img/items/Wood.png');
}

.Dragonslayer {
    background-image: url('./assets/img/items/Dragonslayer.png');
}

.Ring {
    background-image: url('./assets/img/items/Ring.png');
}

.Helm {
    background-image: url('./assets/img/items/Helm.png');
}

.Coin {
    background-image: url('./assets/img/items/Coin.png');
}

.Arrow {
    background-image: url('./assets/img/items/Arrow.png');
}

.Fish {
    background-image: url('./assets/img/items/Fish.png');
}

.Crystal {
    background-image: url('./assets/img/items/Crystal.png');
}

.Banana {
    background-image: url('./assets/img/items/Banana.png');
}

.Hat {
    background-image: url('./assets/img/items/Hat.png');
}

.Key {
    background-image: url('./assets/img/items/Key.png');
}

.Skull {
    background-image: url('./assets/img/items/Skull.png');
}

.Shield {
    background-image: url('./assets/img/items/Shield.png');
}

.Scroll {
    background-image: url('./assets/img/items/Scroll.png');
}

.Potion {
    background-image: url('./assets/img/items/Potion.png');
}

.Necklace {
    background-image: url('./assets/img/items/Necklace.png');
}

.Max {
    background-image: url('./assets/img/items/Max.png');
}

.Alune {
    background-image: url('./assets/img/items/Alune.png');
}


.Common {
    color: rgb(134, 255, 110);
  }
  
  .Uncommon {
    color: rgb(79, 51, 237);
  }
  
  .Rare {
    color: rgb(255, 247, 17);
  }
  
  .Epic {
    color: red;
  }
  
  .Legendary {
    color: red;
  }
  