<div class="responsive-container">

    <div class="content">
        <div class="item">
            <h2>Register</h2>
            <form (ngSubmit)="onSubmit(registerForm)" #registerForm="ngForm">
                <div class="border-box">
                    <label for="username">Username</label>
                    <input type="text" id="username" name="username" placeholder="enter your username" ngModel required>
                </div>
                <div class="border-box">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" placeholder="enter your email address" ngModel required>
                </div>
                <div class="border-box">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" placeholder="enter your password" ngModel required>
                </div>

                <div class="border-box">
                    <label for="confirmPassword">Confirm Password</label>
                    <input type="password" id="confirmPassword" name="confirmPassword" placeholder="confirm your password" ngModel required>
                </div>
                <div class="link-wrapper">
                    <a class="custom-link" href="/login">Already have an Account?</a>
                  </div>
                <button type="submit" [disabled]="registerForm.form.invalid || registerForm.form.pristine">Register</button>
            </form>
        </div>

        
    </div>
</div>